@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(60, 9%, 16%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(60, 9%, 16%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(60, 9%, 16%);
  --primary: hsl(60, 9%, 24%);
  --primary-foreground: hsl(120, 6%, 97%);
  --secondary: hsl(120, 6%, 96%);
  --secondary-foreground: hsl(60, 9%, 24%);
  --muted: hsl(120, 6%, 96%);
  --muted-foreground: hsl(60, 18%, 56%);
  --accent: hsl(120, 6%, 96%);
  --accent-foreground: hsl(60, 9%, 24%);
  --destructive: hsl(0, 84%, 60%);
  --border: hsl(60, 9%, 91%);
  --input: hsl(60, 9%, 91%);
  --ring: hsl(60, 16%, 71%);
  --chart-1: hsl(12, 76%, 61%);
  --chart-2: hsl(173, 58%, 39%);
  --chart-3: hsl(197, 37%, 24%);
  --chart-4: hsl(84, 60%, 79%);
  --chart-5: hsl(45, 69%, 75%);
  --sidebar: hsl(120, 6%, 97%);
  --sidebar-foreground: hsl(60, 9%, 16%);
  --sidebar-primary: hsl(60, 9%, 24%);
  --sidebar-primary-foreground: hsl(120, 6%, 97%);
  --sidebar-accent: hsl(120, 6%, 96%);
  --sidebar-accent-foreground: hsl(60, 9%, 24%);
  --sidebar-border: hsl(60, 9%, 91%);
  --sidebar-ring: hsl(60, 16%, 71%);
}

.dark {
  --background: hsl(60, 9%, 16%);
  --foreground: hsl(120, 6%, 97%);
  --card: hsl(60, 9%, 24%);
  --card-foreground: hsl(120, 6%, 97%);
  --popover: hsl(60, 9%, 24%);
  --popover-foreground: hsl(120, 6%, 97%);
  --primary: hsl(60, 9%, 91%);
  --primary-foreground: hsl(60, 9%, 24%);
  --secondary: hsl(36, 15%, 28%);
  --secondary-foreground: hsl(120, 6%, 97%);
  --muted: hsl(36, 15%, 28%);
  --muted-foreground: hsl(60, 16%, 71%);
  --accent: hsl(36, 15%, 28%);
  --accent-foreground: hsl(120, 6%, 97%);
  --destructive: hsl(0, 62%, 69%);
  --border: hsla(0, 0%, 100%, 0.1);
  --input: hsla(0, 0%, 100%, 0.15);
  --ring: hsl(60, 18%, 56%);
  --chart-1: hsl(262, 83%, 58%);
  --chart-2: hsl(142, 76%, 73%);
  --chart-3: hsl(45, 69%, 75%);
  --chart-4: hsl(296, 76%, 65%);
  --chart-5: hsl(25, 95%, 53%);
  --sidebar: hsl(60, 9%, 24%);
  --sidebar-foreground: hsl(120, 6%, 97%);
  --sidebar-primary: hsl(262, 83%, 58%);
  --sidebar-primary-foreground: hsl(120, 6%, 97%);
  --sidebar-accent: hsl(36, 15%, 28%);
  --sidebar-accent-foreground: hsl(120, 6%, 97%);
  --sidebar-border: hsla(0, 0%, 100%, 0.1);
  --sidebar-ring: hsl(60, 18%, 56%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.col-1{ grid-column: 1; }
.col-2{ grid-column: 2; }
.col-3{ grid-column: 3; }
.col-4{ grid-column: 4; }
.col-5{ grid-column: 5; }
.col-6{ grid-column: 6; }
.col-7{ grid-column: 7; }
.col-start-1{ grid-column-start: 1; }
.col-start-2{ grid-column-start: 2; }
.col-start-3{ grid-column-start: 3; } 
.col-start-4{ grid-column-start: 4; }
.col-start-5{ grid-column-start: 5; }
.col-start-6{ grid-column-start: 6; }
.col-start-7{ grid-column-start: 7; }
.col-end-1{ grid-column-end: 1; }
.col-end-2{ grid-column-end: 2; }
.col-end-3{ grid-column-end: 3; }
.col-end-4{ grid-column-end: 4; }
.col-end-5{ grid-column-end: 5; }
.col-end-6{ grid-column-end: 6; }
.col-end-7{ grid-column-end: 7; }

.row-1{ grid-row: 1; }
.row-2{ grid-row: 2; }
.row-3{ grid-row: 3; }
.row-4{ grid-row: 4; }
.row-5{ grid-row: 5; }
.row-6{ grid-row: 6; }
.row-7{ grid-row: 7; }
.row-8{ grid-row: 8; }
.row-9{ grid-row: 9; }
.row-10{ grid-row: 10; }
.row-start-1{ grid-row-start: 1; }
.row-start-2{ grid-row-start: 2; }
.row-start-3{ grid-row-start: 3; }
.row-start-4{ grid-row-start: 4; }
.row-start-5{ grid-row-start: 5; }
.row-start-6{ grid-row-start: 6; }
.row-start-7{ grid-row-start: 7; }
.row-start-8{ grid-row-start: 8; }
.row-start-9{ grid-row-start: 9; }
.row-start-10{ grid-row-start: 10; }
.row-end-1{ grid-row-end: 1; }
.row-end-2{ grid-row-end: 2; }
.row-end-3{ grid-row-end: 3; }
.row-end-4{ grid-row-end: 4; }
.row-end-5{ grid-row-end: 5; }
.row-end-6{ grid-row-end: 6; }
.row-end-7{ grid-row-end: 7; }
.row-end-8{ grid-row-end: 8; }
.row-end-9{ grid-row-end: 9; }
.row-end-10{ grid-row-end: 10; }


.stripes{
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.35) 25%,
    rgba(0,0,0, 0.05) 25%,
    rgba(0,0,0, 0.05) 50%,
    rgba(255, 255, 255, 0.35) 50%,
    rgba(255, 255, 255, 0.35) 75%,
    rgba(0,0,0, 0.05) 75%,
    rgba(0,0,0, 0.05)
  );
  background-size: 1rem 1rem;
}

.flashing {
  animation: flashing 2s infinite ease-in-out;
}
@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.grain{
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.84' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-size: 100px 100px;
  background-position: center;
  background-repeat: repeat;
}

.grid_bg {
  /* Fade to white on the right */
  background:
    linear-gradient(to right, rgba(255,255,255,0) 60%, #fff 100%),
    /* Vertical stripes */
    repeating-linear-gradient(
      to right,
      rgba(0,0,0,0.07) 0,
      rgba(0,0,0,0.07) 1px,
      transparent 1px,
      transparent 1rem
    ),
    /* Horizontal stripes */
    repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.07) 0,
      rgba(0,0,0,0.07) 1px,
      transparent 1px,
      transparent 1rem
    );
  background-size:
    100% 100%, /* fade covers all */
    1rem 1rem, /* vertical stripes */
    1rem 1rem; /* horizontal stripes */
  background-repeat: no-repeat, repeat, repeat;
}

.custom-delay {
  transition-delay: 0s;
}
.group:hover .custom-delay {
  transition-delay: 0.5s; /* 500ms delay only on hover-in */
}

.ql-editor {
  text-align: right !important;
}
.ql-size-large {
  font-size: 1.25rem !important;
}
.ql-size-small {
  font-size: 0.875rem !important;
}

.shake {
  animation: shake 0.2s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}